{% extends "_base.html" %}

{% block content %}
    <div id="bg" class="-z-10 fixed inset-0 h-screen overflow-hidden">
      {# If there are any errors on the next line just ignore them #}
      <div class="absolute inset-0 z-0 opacity-60 bg-center bg-no-repeat bg-cover"
        style="background-image: url({{ get_url(path='images/map.svg') }}); background-position: center center;"></div>
      <div class="absolute inset-0 z-0 pointer-events-none bg-linear-to-b from-zinc-900 from-10% to-transparent to-40%">
      </div>
    </div>
    <div class="h-[65vh] md:h-[70vh]"></div>
    
    <div id="hero" class="relative z-10 bg-zinc-900">
      <div class="text-white h-[35vh] md:h-[30vh] w-screen flex items-center fira-code-regular px-12">
        <p class="text-xl md:text-3xl">
          Hello I'm HexDump0, a random guy who likes to write, hack stuff (web for now) and rant about stupid stuff.
          <br>
          <span class="block text-right mt-12 text-white italic opacity-50 "> -"My crime is that of curiosity."</span>
        </p>
      </div>
    </div>

{% endblock content %}
